.required{
    color: red;
}
.form-control {
    display: flex;
    padding: 3px 0;
}
.form-label {
    min-width: 100px;
    text-align: end;
    margin-right: 5px;
}

.form-control input {
    width: 100%;
}
